<%= render "public/public_header" %>
<div class = "container">
  
  <%= form_with model: @customer, url: customer_path, method: :patch do |f| %>
  <div class = "row mt-4">
    <div class = "col">
    <%= f.label :first_name, "姓" %>
    </div>
    <div class = "col">
    <%= f.text_field :first_name %>
    </div>
  </div>
  
  <div class = "row">
    <div class = "col">
    <%= f.label :first_name_kana, "セイ" %>
    </div>
    <div class = "col">
    <%= f.text_field :first_name_kana %>
    </div>
  </div>
  
  <div class = "row">
    <div class = "col">
    <%= f.label :last_name, "名" %>
    </div>
    <div class = "col">
    <%= f.text_field :last_name %>
    </div>
  </div>
  
  <div class = "row">
    <div class = "col">
    <%= f.label :last_name_kana, "メイ" %>
    </div>
    <div class = "col">
    <%= f.text_field :last_name_kana %>
    </div>
  </div>
  
  <div class = "row">
    <div class = "col">
      <%= f.label :nickname, "ニックネーム" %>
    </div>
    <div class = "col">
      <%= f.text_field :nickname %>
    </div>
  </div>
  
  <div class = "row">
    <div class = "col">
    <%= f.label :introduction, "自己紹介" %>
    </div>
    <div class = "col">
    <%= f.text_area :introduction %>
    </div>
  </div>
  
  <div class = "row">
    <div class = "col">
    <%= f.label :email, "メール" %>
    </div>
    <div class = "col">
    <%= f.text_field :email %>
    </div>
  </div>
  
  <div class = "row">
    <div class = "col">
    <%= f.label :telephone_number, "電話番号" %>
    </div>
    <div class = "col">
    <%= f.text_field :telephone_number %>
    </div>
  </div>
  
  <div class = "row">
    <div class = "col">
    <%= f.label :introduction, "自己紹介欄" %>
    </div>
    <div class = "col">
    <%= f.text_field :introduction %>
    </div>
  </div>
  
    <%= f.submit "内容を変更する" %>
  <% end %>
</div>