<%= render "public/public_header" %>
<div class = "container">
  <div class = "row mt-4">
    <div class = "col text-center">
      <h4><%= @customer.first_name %><%= @customer.last_name %>さんのマイページ</h4>
    </div>
  </div>
  
  <div class = "row my-2 border-top">
    <div class = "col text-center">
      <%= link_to "ユーザー情報更新", edit_customer_path(@customer) %>
    </div>
  </div>
  
  <div class = "row my-2 border-top">
    <div class = "col text-center">
      <%= link_to "投稿一覧", list_path(@customer) %>
    </div>
  </div>
  
  <div class = "row my-2 border-top border-bottom">
    <div class = "col text-center">
      <%= link_to "購入された取引履歴", contracts_path %>
    </div>
  </div>
  
  <div class = "row my-2 border-top border-bottom">
    <div class = "col text-center">
      <%= link_to "出品した取引履歴", contracts_path %>
    </div>
  </div>
</div>