<%= render "public/public_header" %>
<div class = "container">
    
    <%= form_with model: @post, url: post_path, method: :patch do |f| %>
    <div class = "row">
        <div class = "col"><p>出品名</p></div>
        <div class = "col"><%= f.text_field :name %></div>
    </div>
    
    <div class = "row">
        <div class = "col"></div>
        <div class = "col"></div>
    </div>
    
    <div class = "row">
        <div class = "col"></div>
        <div class = "col"></div>
    </div>
    
    <div class = "row">
        <div class = "col"></div>
        <div class = "col"></div>
    </div>
    
    <div class = "row">
        <div class = "col"></div>
        <div class = "col"></div>
    </div>
        
        
    
        <p>ジャンル</p>
        <%= f.collection_select :genre_id, Genre.all, :id, :name, include_blank: "選択して下さい" %>
    
        <p>商品説明</p>
        <%= f.text_field :introduction %>
    
        <p>商品価格</p>
        <%= f.text_field :price %>
    
        <p>商品写真</p>
        <%= f.file_field :images, name: 'post[images][]', data: {index: 0}, accept: "image/*"%>
        <%= f.file_field :images, name: 'post[images][]', data: {index: 1}, accept: "image/*" %>
        <%= f.file_field :images, name: 'post[images][]', data: {index: 2}, accept: "image/*" %>
        <%= f.file_field :images, name: 'post[images][]', data: {index: 3}, accept: "image/*" %>
        <%= f.file_field :images, name: 'post[images][]', data: {index: 4}, accept: "image/*" %>
    
        <%= f.submit "変更する" %>
    <% end %>
</div>