<%= render "public/public_header" %>

<% @posts.each do |posts| %>
    <p>出品名</p>
    <%= link_to post_path(posts.id) do %>
    <%= posts.name %>
    <% end %><br>

    <p>ジャンル名</p>
    <%= posts.genre %>

    <p>商品説明</p>
    <%= posts.introduction %><br>

    <p>商品価格</p>
    <%= posts.price %>

    <p>商品写真</p>
    <% if posts.images.attached? %>
        <%= image_tag posts.images[0], size: "200x200" %>
        <%# image_tag posts.images[1], size: "200x200" %>
        <%# image_tag posts.images[2], size: "200x200" %>
        <%# image_tag posts.images[3], size: "200x200" %>
        <%# image_tag posts.images[4], size: "200x200" %>
    <% else %>
        <%= image_tag 'no_image', size: "200x200" %>
    <% end %>

<% end %>