<%= render "public/public_header" %>

<%= form_tag posts_path, method: :get do %>
  <%= collection_select(:genre_id, :genre_id, Genre.all, :id, :name, prompt: "全てのジャンル") %>
<%= submit_tag "絞り込み" %>
<% end %>

<% @posts.each do |post| %>
  <p>出品名</p>
  <%= link_to post_path(post.id) do %>
    <%= post.name %>
  <% end %><br>

  <p>ジャンル名</p>
  <%= post.genre.name %>

  <p>商品説明</p>
  <%= post.introduction %><br>

  <p>商品価格</p>
  <%= post.price %>

  <p>商品写真</p>
  <% if post.images.attached? %>
  <% post.images[0..4].each do |image| %>
    <%= image_tag image, size: "200x200" %>
  <% end %>
  <% else %>
  <%= image_tag 'no_image', size: "200x200" %>
  <% end %>

<% if params[:genre_id].present? %>
  <h2>ジャンルID: <%= params[:genre_id] %>の絞り込み結果</h2>

  <% @post.each do |search| %>
    <div>
      <h3><%= search.name %></h3>
      <p><%= search.introduction %></p>
      <p><%= search.price %></p>
    </div>
  <% end %>
<% end %>
<% end %>