<%= render "public/public_header" %>

<% if flash[:error] %>
  <div class="error">
    <%= flash[:error] %>
  </div>
<% end %>

<%= form_with model: @post, url: posts_path, method: :post, local: true do |f| %>
  <p>出品名</p>
  <%= f.text_field :name, placeholder: "パーツ名など" %>

  <p>ジャンル</p>
  <%= f.collection_select :genre_id, Genre.all, :id, :name, include_blank: "選択して下さい" %>

  <p>商品説明</p>
  <%= f.text_area :introduction, placeholder: "説明欄" %>

  <p>商品価格</p>
  <%= f.text_field :price %>

  <p>商品画像</p>
  <%= f.file_field :images, name: 'post[images][]', data: {index: 0}, accept: "image/*"%>
  <%= f.file_field :images, name: 'post[images][]', data: {index: 1}, accept: "image/*" %>
  <%= f.file_field :images, name: 'post[images][]', data: {index: 2}, accept: "image/*" %>
  <%= f.file_field :images, name: 'post[images][]', data: {index: 3}, accept: "image/*" %>
  <%= f.file_field :images, name: 'post[images][]', data: {index: 4}, accept: "image/*" %>

  <%= f.submit"出品する" %>
<% end %>