<%= render "public/public_header" %>

<p>商品名</p>
<%= @post.name %>

<p>ジャンル名</p>
<%= @post.genre %>

<p>商品説明</p>
<%= @post.introduction %>

<p>商品価格</p>
<%= @post.price %>
<p>商品写真</p>
<% if @post.images.attached? %>
        <%= image_tag @post.images[0], size: "200x200" %>
        <%# image_tag posts.images[1], size: "200x200" %>
        <%# image_tag posts.images[2], size: "200x200" %>
        <%# image_tag posts.images[3], size: "200x200" %>
        <%# image_tag posts.images[4], size: "200x200" %>
<% else %>
        <%= image_tag 'no_image', size: "200x200" %>
<% end %>