<%= render "public/public_header" %>

<p>商品名</p>
<%= @post.name %>

<p>ジャンル名</p>
<%= @post.genre %>

<p>商品説明</p>
<%= @post.introduction %>

<p>商品価格</p>
<%= @post.price %>
<p>商品写真</p>
<% if @post.images.attached? %>
        <%= image_tag @post.images[0], size: "200x200" %>
        <%# image_tag posts.images[1], size: "200x200" %>
        <%# image_tag posts.images[2], size: "200x200" %>
        <%# image_tag posts.images[3], size: "200x200" %>
        <%# image_tag posts.images[4], size: "200x200" %>
<% else %>
        <%= image_tag 'no_image', size: "200x200" %>
<% end %>

<div>
  <p>コメント件数：<%= @post.comments.count %></p>
  <% @comments.each do |post_comment| %>
    <%= post_comment.customer.nickname %>さん<br>
    <%= post_comment.created_at.strftime('%Y/%m/%d') %><%= post_comment.comment %>
  <% end %>
</div>

<div>
  <%= form_with model: [@post, @comment], url: post_comments_path(@post.id), method: :post do |f| %>
    <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
    <%= f.submit "送信する" %>
  <% end %>
</div>

<% if @post.favorited_by?(current_customer) %>
    <p>
      <%= link_to post_likes_path(@post), method: :delete do %>
        ♥<%= @post.likes.count %> いいね
      <% end %>
    </p>
    <% else %>
    <p>
      <%= link_to post_likes_path(@post), method: :post do %>
        ♡<%= @post.likes.count %> いいね
      <% end %>
    </p>
  <% end %></div>