<%= render "public/public_header" %>
<div class = "container">
  <div class = "div">
    <p>商品名</p>
    <%= @post.name %>
  </div>
  
  <div class = "div">
    <p>ジャンル名</p>
    <%= @post.genre %>
  </div>
  
  <div class = "div">
    <p>商品説明</p>
    <%= @post.introduction %>
  </div>
  
  <div class = "div">
    <p>商品価格</p>
    <%= @post.price %>
  </div>
  
  <div class="div">
    <p>商品写真</p>
    <% if @post.images.attached? %>
      <% @post.images.each do |image| %>
        <%= image_tag image, size: "200x200" %>
      <% end %>
    <% else %>
      <%= image_tag 'no_image', size: "200x200" %>
    <% end %>
  </div>



<div>
  <p>コメント件数：<%= @post.comments.count %></p>
  <% @comments.each do |post_comment| %>
    <%= post_comment.customer.nickname %>さん<br>
    <%= post_comment.created_at.strftime('%Y/%m/%d') %><%= post_comment.comment %>
  <% end %>
</div>

<% if customer_signed_in? %>
<div>
  <%= form_with model: [@post, @comment], url: post_comments_path(@post.id), method: :post do |f| %>
    <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
    <%= f.submit "送信する" %>
  <% end %>
</div>
<% if @post.favorited_by?(current_customer) %>
    <p>
      <%= link_to post_likes_path(@post), method: :delete do %>
        ♥<%= @post.likes.count %> いいね
      <% end %>
    </p>
    <% else %>
    <p>
      <%= link_to post_likes_path(@post), method: :post do %>
        ♡<%= @post.likes.count %> いいね
      <% end %>
    </p>
  <% end %></div>
  <div class = "row">
    <div class = "col text-center">
      <% if @show_button %>
        <%= link_to "購入", confirm_path, class: "btn btn-primary" %>
      <% else %>
        <p class="text-danger">
          ※購入には
          <%= link_to "会員登録（ログイン）", new_customer_session_path, class: 'text-danger border-bottom border-danger' %>と
          <%= link_to "住所の登録が必要です", new_address_path, class: 'text-danger border-bottom border-danger' %>
        </p>
    <% end %>
    </div>
  </div>
<% end %>
</div>