<%= render "admin/admin_header" %>
<div class = "container">
  <div class = "row">
    <div class = "col ">
      <% @customers.each do |customer| %>
      <div>姓　|<%= customer.first_name %></div>
      <div>名　|<%= customer.last_name %></div>
      <div>セイ　|<%= customer.first_name_kana %></div>
      <div>メイ　|<%= customer.last_name_kana %></div>
      <div>自己紹介欄　|<%= customer.introduction %></div>
      <button class = "btn btn-danger"><%= link_to "削除する", admin_customer_path(customer.id), method: :delete, data:{confirm: "本当に削除しますか？"}, class: "text-dark" %></div>
      <% end %>
    </div>
  </div>
  
  <div class = "row">
    <div class = "col">
      <%= paginate @customers %>
    </div>
  </div>
</div>