<%= render "admin/admin_header" %>
<div>
<%= form_with model: @genre, url: admin_genres_path, method: :post do |f| %>
  <%= f.label :name, "ジャンル名" %>
  <%= f.text_field :name %>
  <%= f.submit"ジャンル追加" %>
<% end %>
</div>

<div>
<% @genres.each do |f| %>

  <p><%= f.name %></p>

  <%= link_to admin_genre_path(@genres.ids), method: :delete do %>
  <button class = "btn-danger">削除する</button>
  <% end %>

<% end %>
</div>

