<%= render "public/public_header" %>

<%= form_with model: @address, url: addresses_path, method: :post, local: true do |f| %>

<%= f.label :address, "住所" %>
<%= f.text_field :address %>

<%= f.label :postal_code, "郵便番号" %>
<%= f.text_field :postal_code %>

<%= f.label :telephone_number, "電話番号" %>
<%= f.text_field :telephone_number %>

<%= f.label :name, "宛名" %>
<%= f.text_field :name %>

<%= f.submit "住所を追加" %>
<% end %>


<% @addresses.each do |address| %>

<p>住所</p>
<%= address.address %>

<p>郵便番号</p>
<%= address.postal_code %>

<p>電話番号</p>
<%= address.telephone_number %>

<p>名前</p>
<%= address.name %>

<% end %>
