<%= render "public/public_header" %>
<%= form_with model: @address, url: addresses_path, method: :post, local: true do |f| %>
<div class = "container">
    <div class = "row">
        <div class = "col"col><%= f.label :address, "住所" %></div>
        <div class = "col"col><%= f.text_field :address %></div>
    </div>
    
    <div class = "row">
        <div class = "col"col><%= f.label :postal_code, "郵便番号" %></div>
        <div class = "col"col><%= f.text_field :postal_code %></div>
    </div>
    
    <div class = "row">
        <div class = "col"col><%= f.label :telephone_number, "電話番号" %></div>
        <div class = "col"col><%= f.text_field :telephone_number %></div>
    </div>
    
    <div class = "row">
        <div class = "col"col><%= f.label :name, "宛名" %></div>
        <div class = "col"col><%= f.text_field :name %></div>
    </div>
    
    <div class = "row">
        <div class = "col"col><%= f.submit "住所を追加" %></div>
    </div>
<% end %>

<% @addresses.each do |address| %>

<p>住所</p>
<%= address.address %>

<p>郵便番号</p>
<%= address.postal_code %>

<p>電話番号</p>
<%= address.telephone_number %>

<p>名前</p>
<%= address.name %>

<% end %>

<%= paginate @addresses %>
</div>