<%= render "public/public_header" %>

<div class = "container">
  <div class = "row">
    <h2>購入商品確認</h2>
  </div>
  
  <div class = "row">
    <table class="table">
      <tbody>
        <tr>
          <th scope="row">商品名</th>
          <td><%= @post.name %></td>
        </tr>
        <tr>
          <th scope="row">商品説明</th>
          <td><%= @post.introduction %></td>
        </tr>
        <tr>
          <th scope="row">商品画像</th>
          <td><%= image_tag @post.images.first.variant(resize: "100x100") if @post.images.attached? %></td>
        </tr>
        <tr>
          <th scope="row">価格</th>
          <td><%= @post.price %></td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <div class = "row">
    <div class = "col">
    <%= form_with model: @contract, url: contracts_path, method: :post do |f| %>
      <% @addresses.each do |address| %>
        <%= f.radio_button :address_id, address.id %>
        <%= f.label :address_id, address.name %><br>
      <% end %>

  <%= f.submit "選択する" %>
    <% end %>
    </div>
  </div>

</div>