<%= render "public/public_header" %>
  <% @contracts.each do |contract| %>
  <%= link_to contract_path(contract) do %>
        <div class="border h-90 w-100">
          <%= contract.post.name %>
          <%= contract.post.introduction %>
          <%= contract.post.price %>
          <% if contract.contract_status == "completed" %>
            <div>取引完了済です</div>
          <% end %>
        </div>
      <% end %>
    <% end %>