<%= render "public/public_header" %>

<div class = "container">
  <div class = "row text-center pt-2">
    <div class = "col">
      <h2>購入履歴詳細</h2>
    </div>
  </div>
  
  <div class = "row border-top">
    <div class = "col d-flex align-items-center justify-content-center my-2">
      <div class = "text-center font-weight-bold">出品者名</div>
    </div>
    <div class = "col  d-flex align-items-center justify-content-center">
      <div class="text-center"><%= @customer.first_name %><%= @customer.last_name %></div>
    </div>
  </div>
  
  <div class = "row border-top">
    <div class = "col d-flex align-items-center justify-content-center">
      <div>購入者</div>
    </div>
    <div class = "col d-flex justify-content-center">
      <p><%= @buyer.first_name %><%= @buyer.last_name %></p>
    </div>
  </div>
  
  <div class = "row border-top border-bottom text-center">
    <div class = "col">
      <p>宛先</p>
    </div>
    <div class = "col">
      <p><%= @address.address %></p>
    </div>
    <div class = "col">
      <p><%= @address.postal_code %></p>
    </div>
  </div>
  
  <div class = "row my-2">
    <div class = "col">
      <h3 class = "text-center">こちらから更新してください</h3>
    </div>
  </div>
  
  <div class = "row">
    <div class = "col">
      <% if @contract.contract_status == "completed" %>
      <h3>購入完了済です</h3>
      <% else %>
        <% if current_customer.id == @buyer.id %>
          <%= form_with model: @contract, url: contract_path, method: :patch do |f| %>
            <%= f.select :payment_status, Contract.payment_statuses.keys.map {|k| [I18n.t("enums.contract.payment_status.#{k}"), k]}%>
            <%= f.submit '更新', class: 'btn btn-primary' %>
          <% end %>
        <% elsif current_customer.id == @customer.id %>
          <%= form_with model: @contract, url: contract_path, method: :patch do |f| %>
            <%= f.select :delivery_status, Contract.delivery_statuses_i18n.keys %>
          
            <%= f.submit '更新', class: 'btn btn-primary' %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>

</div>